.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  position: relative;
  border: 3px solid lightslategray;
  width: 1000px;
  height: 800px;
}

#heading {
  display: flex;
  color: blue;
  font-weight: bolder;
  position: flex;
  justify-content: center;
}

.divider{
  margin-top: -35px;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: 2px solid blue;
}

#dataTable {
  position: absolute;
  top: 100px;
  left: 50px;

}

#formInput{
  position: absolute;
  top: 100px;
  right: 50px;
  border: 2px solid grey;
  border-radius: 5%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

label {
  color: blue;
  font-weight: bold;
}

table {
  border: 5px solid rgb(59, 14, 221);    
  border-collapse: collapse;
}
tr { 
  border: solid red;
  border-width: 1px 0;
}

.editBtn{
  background-color: yellowgreen;
  border: 2px solid grey;
  border-radius: 20%;
}
.deleteBtn{
  background-color: rgb(230, 56, 13);
  color: aliceblue;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20%;
}  